@model List<wompsmash.Models.BlogPost>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    Hi, my name is Jeremy Bennett, welcome to my personal website. This site is built with ASP.NET MVC 5, C# with a MySQL Database. Front end is built with HMTL5, CSS3 and Jquery.


</p>
