body {
    background-color:rgb(203, 241, 222);
    padding-top: 50px;
    padding-bottom: 20px;
    width: 1200px;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
}

.header {
    padding-left: 15px;
    padding-right:15px;
    background-color:yellow;
    width:1200px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
    width:1200px;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

